.form-control, .btn, .navbar{
    border-radius: 0px;
}
.panel-black{
    background-color: #222 !important;
    color: #9d9d9d !important;

}
.panel, .panel-black{
    border-radius: 0px;
}
.text{
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btn-desc{
    bottom: 15px;
    right: 15px;
    float: right;
    position: fixed;
}
.btn-falta{
    bottom: 15px;
    left: 15px;
    float: left;
    position: fixed;
}
